@media handheld, only screen and (max-width: 480px) {
   
    .profile {
        max-width: 100%;
        top: 0px;
        margin-bottom: 0px;
        position: sticky;
        overflow: hidden;
    }
    
    .profile::after { /* dark layer */
        content: "";
        display: block;
        position: absolute;
        top: 0%;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(0deg,
            rgba(19,19,19, 0.2) 0%,
            rgba(19,19,19, 0.15) 40%,
            rgba(19,19,19, 0.1) 100%
        );
        z-index: 1;
    }

    #avatar {
        position: relative;
        top: 0px;
        width: 100%;
        height: auto;
        border-radius: 0px;
        scale: 1.1;
        margin-top: -13%;
        overflow: hidden;
        z-index: 0;
    }

    #bio-text-wrap {
        position: absolute;
        width: 100%;
        bottom: 20%;
        text-align: center;
        z-index: 2;
    }
    #profile-name {
        position: relative;
        font-size: 46pt;
        font-weight: 900;
        line-height: 96%;
    }
    #description {
        position: relative;
        margin-top: 21px;
        font-size: 10pt;
        text-transform: uppercase;
        font-weight: 700;
    }
     
    #shadow {
        display: block;
        position: relative;
        margin-top: -95%;
        padding-top: 100%;
        width: 100%;
        background: rgb(19,19,19);
        background: linear-gradient(0deg,
            rgba(19,19,19,1) 10%,
            rgba(19,19,19,0.96) 14%,
            rgba(19,19,19,0.8) 20%,
            rgba(19,19,19,0.6) 25%,
            rgba(19,19,19,0.3) 40%,
            rgba(19,19,19,0.05) 83%,
            rgba(19,19,19,0.0) 100%);
    }

}

